<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>空气质量指数城市比较</title>

    <!-- Custom fonts for this templates-->
    <link th:href="@{/css/all.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/bootstrap-select.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this templates-->
    <link th:href="@{/css/sb-admin-2.css}" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <div th:replace="sidebar::ul"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!--<div th:replace="topbar"></div>-->
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
                <h1 class="h3 mb-0 text-gray-800"><a class="text-info ml-6">空气质量城市比较</a></h1>
            </div>

            <div class="row">
                <div class="col-lg-12 mb-4">
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="city1">城市1</label>
                            <select class="form-control text-primary selectpicker" id="city1" name="city1"
                                    data-live-search="true" data-style="text-primary">
                                <option>阿坝州</option>
                                <option>安康</option>
                                <option>阿克苏地区</option>
                                <option>阿里地区</option>
                                <option>阿拉善盟</option>
                                <option>阿勒泰地区</option>
                                <option>安庆</option>
                                <option>安顺</option>
                                <option>鞍山</option>
                                <option>克孜勒苏州</option>
                                <option>安阳</option>
                                <option>蚌埠</option>
                                <option>白城</option>
                                <option>保定</option>
                                <option>北海</option>
                                <option>宝鸡</option>
                                <option>北京</option>
                                <option>毕节</option>
                                <option>博州</option>
                                <option>白山</option>
                                <option>百色</option>
                                <option>保山</option>
                                <option>白沙</option>
                                <option>包头</option>
                                <option>保亭</option>
                                <option>本溪</option>
                                <option>巴彦淖尔</option>
                                <option>白银</option>
                                <option>巴中</option>
                                <option>滨州</option>
                                <option>亳州</option>
                                <option>长春</option>
                                <option>昌都</option>
                                <option>常德</option>
                                <option>成都</option>
                                <option>承德</option>
                                <option>赤峰</option>
                                <option>昌吉州</option>
                                <option>五家渠</option>
                                <option>昌江</option>
                                <option>澄迈</option>
                                <option>重庆</option>
                                <option>长沙</option>
                                <option>常熟</option>
                                <option>楚雄州</option>
                                <option>朝阳</option>
                                <option>沧州</option>
                                <option>长治</option>
                                <option>常州</option>
                                <option>潮州</option>
                                <option>郴州</option>
                                <option>池州</option>
                                <option>崇左</option>
                                <option>滁州</option>
                                <option>定安</option>
                                <option>丹东</option>
                                <option>东方</option>
                                <option>东莞</option>
                                <option>德宏州</option>
                                <option>大理州</option>
                                <option>大连</option>
                                <option>大庆</option>
                                <option>大同</option>
                                <option>定西</option>
                                <option>大兴安岭地区</option>
                                <option>德阳</option>
                                <option>东营</option>
                                <option>黔南州</option>
                                <option>达州</option>
                                <option>德州</option>
                                <option>儋州</option>
                                <option>鄂尔多斯</option>
                                <option>恩施州</option>
                                <option>鄂州</option>
                                <option>防城港</option>
                                <option>佛山</option>
                                <option>抚顺</option>
                                <option>阜新</option>
                                <option>阜阳</option>
                                <option>富阳</option>
                                <option>抚州</option>
                                <option>福州</option>
                                <option>广安</option>
                                <option>贵港</option>
                                <option>桂林</option>
                                <option>果洛州</option>
                                <option>甘南州</option>
                                <option>固原</option>
                                <option>广元</option>
                                <option>贵阳</option>
                                <option>甘孜州</option>
                                <option>赣州</option>
                                <option selected="selected">广州</option>
                                <option>淮安</option>
                                <option>海北州</option>
                                <option>鹤壁</option>
                                <option>淮北</option>
                                <option>河池</option>
                                <option>海东地区</option>
                                <option>邯郸</option>
                                <option>哈尔滨</option>
                                <option>合肥</option>
                                <option>鹤岗</option>
                                <option>黄冈</option>
                                <option>黑河</option>
                                <option>红河州</option>
                                <option>怀化</option>
                                <option>呼和浩特</option>
                                <option>海口</option>
                                <option>呼伦贝尔</option>
                                <option>葫芦岛</option>
                                <option>哈密地区</option>
                                <option>海门</option>
                                <option>海南州</option>
                                <option>淮南</option>
                                <option>黄南州</option>
                                <option>衡水</option>
                                <option>黄山</option>
                                <option>黄石</option>
                                <option>和田地区</option>
                                <option>海西州</option>
                                <option>河源</option>
                                <option>衡阳</option>
                                <option>汉中</option>
                                <option>杭州</option>
                                <option>菏泽</option>
                                <option>贺州</option>
                                <option>湖州</option>
                                <option>惠州</option>
                                <option>吉安</option>
                                <option>金昌</option>
                                <option>晋城</option>
                                <option>景德镇</option>
                                <option>金华</option>
                                <option>西双版纳州</option>
                                <option>九江</option>
                                <option>吉林</option>
                                <option>即墨</option>
                                <option>江门</option>
                                <option>荆门</option>
                                <option>佳木斯</option>
                                <option>济南</option>
                                <option>济宁</option>
                                <option>胶南</option>
                                <option>酒泉</option>
                                <option>句容</option>
                                <option>湘西州</option>
                                <option>金坛</option>
                                <option>鸡西</option>
                                <option>嘉兴</option>
                                <option>江阴</option>
                                <option>揭阳</option>
                                <option>济源</option>
                                <option>嘉峪关</option>
                                <option>胶州</option>
                                <option>焦作</option>
                                <option>锦州</option>
                                <option>晋中</option>
                                <option>荆州</option>
                                <option>库尔勒</option>
                                <option>开封</option>
                                <option>黔东南州</option>
                                <option>克拉玛依</option>
                                <option>昆明</option>
                                <option>喀什地区</option>
                                <option>昆山</option>
                                <option>临安</option>
                                <option>六安</option>
                                <option>来宾</option>
                                <option>聊城</option>
                                <option>临沧</option>
                                <option>娄底</option>
                                <option>乐东</option>
                                <option>廊坊</option>
                                <option>临汾</option>
                                <option>临高</option>
                                <option>漯河</option>
                                <option>丽江</option>
                                <option>吕梁</option>
                                <option>陇南</option>
                                <option>六盘水</option>
                                <option>拉萨</option>
                                <option>乐山</option>
                                <option>丽水</option>
                                <option>凉山州</option>
                                <option>陵水</option>
                                <option>莱芜</option>
                                <option>莱西</option>
                                <option>临夏州</option>
                                <option>溧阳</option>
                                <option>辽阳</option>
                                <option>辽源</option>
                                <option>临沂</option>
                                <option>龙岩</option>
                                <option>洛阳</option>
                                <option>连云港</option>
                                <option>莱州</option>
                                <option>兰州</option>
                                <option>林芝</option>
                                <option>柳州</option>
                                <option>泸州</option>
                                <option>马鞍山</option>
                                <option>牡丹江</option>
                                <option>茂名</option>
                                <option>眉山</option>
                                <option>绵阳</option>
                                <option>梅州</option>
                                <option>宁波</option>
                                <option>南昌</option>
                                <option>南充</option>
                                <option>宁德</option>
                                <option>内江</option>
                                <option>南京</option>
                                <option>怒江州</option>
                                <option>南宁</option>
                                <option>南平</option>
                                <option>那曲地区</option>
                                <option>南通</option>
                                <option>南阳</option>
                                <option>平度</option>
                                <option>平顶山</option>
                                <option>普洱</option>
                                <option>盘锦</option>
                                <option>蓬莱</option>
                                <option>平凉</option>
                                <option>莆田</option>
                                <option>萍乡</option>
                                <option>濮阳</option>
                                <option>攀枝花</option>
                                <option>青岛</option>
                                <option>琼海</option>
                                <option>秦皇岛</option>
                                <option>曲靖</option>
                                <option>齐齐哈尔</option>
                                <option>七台河</option>
                                <option>黔西南州</option>
                                <option>清远</option>
                                <option>庆阳</option>
                                <option>钦州</option>
                                <option>衢州</option>
                                <option>泉州</option>
                                <option>琼中</option>
                                <option>荣成</option>
                                <option>日喀则</option>
                                <option>乳山</option>
                                <option>日照</option>
                                <option>韶关</option>
                                <option>寿光</option>
                                <option>上海</option>
                                <option>绥化</option>
                                <option>石河子</option>
                                <option>石家庄</option>
                                <option>商洛</option>
                                <option>三明</option>
                                <option>三门峡</option>
                                <option>山南</option>
                                <option>遂宁</option>
                                <option>四平</option>
                                <option>商丘</option>
                                <option>宿迁</option>
                                <option>上饶</option>
                                <option>汕头</option>
                                <option>汕尾</option>
                                <option>绍兴</option>
                                <option>三亚</option>
                                <option>邵阳</option>
                                <option>沈阳</option>
                                <option>十堰</option>
                                <option>松原</option>
                                <option>双鸭山</option>
                                <option>深圳</option>
                                <option>朔州</option>
                                <option>宿州</option>
                                <option>随州</option>
                                <option>苏州</option>
                                <option>石嘴山</option>
                                <option>泰安</option>
                                <option>塔城地区</option>
                                <option>太仓</option>
                                <option>铜川</option>
                                <option>屯昌</option>
                                <option>通化</option>
                                <option>天津</option>
                                <option>铁岭</option>
                                <option>通辽</option>
                                <option>铜陵</option>
                                <option>吐鲁番地区</option>
                                <option>铜仁地区</option>
                                <option>唐山</option>
                                <option>天水</option>
                                <option>太原</option>
                                <option>台州</option>
                                <option>泰州</option>
                                <option>文昌</option>
                                <option>文登</option>
                                <option>潍坊</option>
                                <option>瓦房店</option>
                                <option>威海</option>
                                <option>乌海</option>
                                <option>芜湖</option>
                                <option>武汉</option>
                                <option>吴江</option>
                                <option>乌兰察布</option>
                                <option>乌鲁木齐</option>
                                <option>渭南</option>
                                <option>万宁</option>
                                <option>文山州</option>
                                <option>武威</option>
                                <option>无锡</option>
                                <option>温州</option>
                                <option>吴忠</option>
                                <option>梧州</option>
                                <option>五指山</option>
                                <option>西安</option>
                                <option>兴安盟</option>
                                <option>许昌</option>
                                <option>宣城</option>
                                <option>襄阳</option>
                                <option>孝感</option>
                                <option>迪庆州</option>
                                <option>锡林郭勒盟</option>
                                <option>厦门</option>
                                <option>西宁</option>
                                <option>咸宁</option>
                                <option>湘潭</option>
                                <option>邢台</option>
                                <option>新乡</option>
                                <option>咸阳</option>
                                <option>新余</option>
                                <option>信阳</option>
                                <option>忻州</option>
                                <option>徐州</option>
                                <option>雅安</option>
                                <option>延安</option>
                                <option>延边州</option>
                                <option>宜宾</option>
                                <option>盐城</option>
                                <option>宜昌</option>
                                <option>宜春</option>
                                <option>银川</option>
                                <option>运城</option>
                                <option>伊春</option>
                                <option>云浮</option>
                                <option>阳江</option>
                                <option>营口</option>
                                <option>榆林</option>
                                <option>玉林</option>
                                <option>伊犁哈萨克州</option>
                                <option>阳泉</option>
                                <option>玉树州</option>
                                <option>烟台</option>
                                <option>鹰潭</option>
                                <option>义乌</option>
                                <option>宜兴</option>
                                <option>玉溪</option>
                                <option>益阳</option>
                                <option>岳阳</option>
                                <option>扬州</option>
                                <option>永州</option>
                                <option>淄博</option>
                                <option>自贡</option>
                                <option>珠海</option>
                                <option>湛江</option>
                                <option>镇江</option>
                                <option>诸暨</option>
                                <option>张家港</option>
                                <option>张家界</option>
                                <option>张家口</option>
                                <option>周口</option>
                                <option>驻马店</option>
                                <option>章丘</option>
                                <option>肇庆</option>
                                <option>中山</option>
                                <option>舟山</option>
                                <option>昭通</option>
                                <option>中卫</option>
                                <option>张掖</option>
                                <option>招远</option>
                                <option>资阳</option>
                                <option>遵义</option>
                                <option>枣庄</option>
                                <option>漳州</option>
                                <option>郑州</option>
                                <option>株洲</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="city2">城市2</label>
                            <select class="form-control text-primary selectpicker" id="city2" name="city2"
                                    data-live-search="true" data-style="text-primary">
                                <option>阿坝州</option>
                                <option>安康</option>
                                <option>阿克苏地区</option>
                                <option>阿里地区</option>
                                <option>阿拉善盟</option>
                                <option>阿勒泰地区</option>
                                <option>安庆</option>
                                <option>安顺</option>
                                <option>鞍山</option>
                                <option>克孜勒苏州</option>
                                <option>安阳</option>
                                <option>蚌埠</option>
                                <option>白城</option>
                                <option>保定</option>
                                <option>北海</option>
                                <option>宝鸡</option>
                                <option selected="selected">北京</option>
                                <option>毕节</option>
                                <option>博州</option>
                                <option>白山</option>
                                <option>百色</option>
                                <option>保山</option>
                                <option>白沙</option>
                                <option>包头</option>
                                <option>保亭</option>
                                <option>本溪</option>
                                <option>巴彦淖尔</option>
                                <option>白银</option>
                                <option>巴中</option>
                                <option>滨州</option>
                                <option>亳州</option>
                                <option>长春</option>
                                <option>昌都</option>
                                <option>常德</option>
                                <option>成都</option>
                                <option>承德</option>
                                <option>赤峰</option>
                                <option>昌吉州</option>
                                <option>五家渠</option>
                                <option>昌江</option>
                                <option>澄迈</option>
                                <option>重庆</option>
                                <option>长沙</option>
                                <option>常熟</option>
                                <option>楚雄州</option>
                                <option>朝阳</option>
                                <option>沧州</option>
                                <option>长治</option>
                                <option>常州</option>
                                <option>潮州</option>
                                <option>郴州</option>
                                <option>池州</option>
                                <option>崇左</option>
                                <option>滁州</option>
                                <option>定安</option>
                                <option>丹东</option>
                                <option>东方</option>
                                <option>东莞</option>
                                <option>德宏州</option>
                                <option>大理州</option>
                                <option>大连</option>
                                <option>大庆</option>
                                <option>大同</option>
                                <option>定西</option>
                                <option>大兴安岭地区</option>
                                <option>德阳</option>
                                <option>东营</option>
                                <option>黔南州</option>
                                <option>达州</option>
                                <option>德州</option>
                                <option>儋州</option>
                                <option>鄂尔多斯</option>
                                <option>恩施州</option>
                                <option>鄂州</option>
                                <option>防城港</option>
                                <option>佛山</option>
                                <option>抚顺</option>
                                <option>阜新</option>
                                <option>阜阳</option>
                                <option>富阳</option>
                                <option>抚州</option>
                                <option>福州</option>
                                <option>广安</option>
                                <option>贵港</option>
                                <option>桂林</option>
                                <option>果洛州</option>
                                <option>甘南州</option>
                                <option>固原</option>
                                <option>广元</option>
                                <option>贵阳</option>
                                <option>甘孜州</option>
                                <option>赣州</option>
                                <option>广州</option>
                                <option>淮安</option>
                                <option>海北州</option>
                                <option>鹤壁</option>
                                <option>淮北</option>
                                <option>河池</option>
                                <option>海东地区</option>
                                <option>邯郸</option>
                                <option>哈尔滨</option>
                                <option>合肥</option>
                                <option>鹤岗</option>
                                <option>黄冈</option>
                                <option>黑河</option>
                                <option>红河州</option>
                                <option>怀化</option>
                                <option>呼和浩特</option>
                                <option>海口</option>
                                <option>呼伦贝尔</option>
                                <option>葫芦岛</option>
                                <option>哈密地区</option>
                                <option>海门</option>
                                <option>海南州</option>
                                <option>淮南</option>
                                <option>黄南州</option>
                                <option>衡水</option>
                                <option>黄山</option>
                                <option>黄石</option>
                                <option>和田地区</option>
                                <option>海西州</option>
                                <option>河源</option>
                                <option>衡阳</option>
                                <option>汉中</option>
                                <option>杭州</option>
                                <option>菏泽</option>
                                <option>贺州</option>
                                <option>湖州</option>
                                <option>惠州</option>
                                <option>吉安</option>
                                <option>金昌</option>
                                <option>晋城</option>
                                <option>景德镇</option>
                                <option>金华</option>
                                <option>西双版纳州</option>
                                <option>九江</option>
                                <option>吉林</option>
                                <option>即墨</option>
                                <option>江门</option>
                                <option>荆门</option>
                                <option>佳木斯</option>
                                <option>济南</option>
                                <option>济宁</option>
                                <option>胶南</option>
                                <option>酒泉</option>
                                <option>句容</option>
                                <option>湘西州</option>
                                <option>金坛</option>
                                <option>鸡西</option>
                                <option>嘉兴</option>
                                <option>江阴</option>
                                <option>揭阳</option>
                                <option>济源</option>
                                <option>嘉峪关</option>
                                <option>胶州</option>
                                <option>焦作</option>
                                <option>锦州</option>
                                <option>晋中</option>
                                <option>荆州</option>
                                <option>库尔勒</option>
                                <option>开封</option>
                                <option>黔东南州</option>
                                <option>克拉玛依</option>
                                <option>昆明</option>
                                <option>喀什地区</option>
                                <option>昆山</option>
                                <option>临安</option>
                                <option>六安</option>
                                <option>来宾</option>
                                <option>聊城</option>
                                <option>临沧</option>
                                <option>娄底</option>
                                <option>乐东</option>
                                <option>廊坊</option>
                                <option>临汾</option>
                                <option>临高</option>
                                <option>漯河</option>
                                <option>丽江</option>
                                <option>吕梁</option>
                                <option>陇南</option>
                                <option>六盘水</option>
                                <option>拉萨</option>
                                <option>乐山</option>
                                <option>丽水</option>
                                <option>凉山州</option>
                                <option>陵水</option>
                                <option>莱芜</option>
                                <option>莱西</option>
                                <option>临夏州</option>
                                <option>溧阳</option>
                                <option>辽阳</option>
                                <option>辽源</option>
                                <option>临沂</option>
                                <option>龙岩</option>
                                <option>洛阳</option>
                                <option>连云港</option>
                                <option>莱州</option>
                                <option>兰州</option>
                                <option>林芝</option>
                                <option>柳州</option>
                                <option>泸州</option>
                                <option>马鞍山</option>
                                <option>牡丹江</option>
                                <option>茂名</option>
                                <option>眉山</option>
                                <option>绵阳</option>
                                <option>梅州</option>
                                <option>宁波</option>
                                <option>南昌</option>
                                <option>南充</option>
                                <option>宁德</option>
                                <option>内江</option>
                                <option>南京</option>
                                <option>怒江州</option>
                                <option>南宁</option>
                                <option>南平</option>
                                <option>那曲地区</option>
                                <option>南通</option>
                                <option>南阳</option>
                                <option>平度</option>
                                <option>平顶山</option>
                                <option>普洱</option>
                                <option>盘锦</option>
                                <option>蓬莱</option>
                                <option>平凉</option>
                                <option>莆田</option>
                                <option>萍乡</option>
                                <option>濮阳</option>
                                <option>攀枝花</option>
                                <option>青岛</option>
                                <option>琼海</option>
                                <option>秦皇岛</option>
                                <option>曲靖</option>
                                <option>齐齐哈尔</option>
                                <option>七台河</option>
                                <option>黔西南州</option>
                                <option>清远</option>
                                <option>庆阳</option>
                                <option>钦州</option>
                                <option>衢州</option>
                                <option>泉州</option>
                                <option>琼中</option>
                                <option>荣成</option>
                                <option>日喀则</option>
                                <option>乳山</option>
                                <option>日照</option>
                                <option>韶关</option>
                                <option>寿光</option>
                                <option>上海</option>
                                <option>绥化</option>
                                <option>石河子</option>
                                <option>石家庄</option>
                                <option>商洛</option>
                                <option>三明</option>
                                <option>三门峡</option>
                                <option>山南</option>
                                <option>遂宁</option>
                                <option>四平</option>
                                <option>商丘</option>
                                <option>宿迁</option>
                                <option>上饶</option>
                                <option>汕头</option>
                                <option>汕尾</option>
                                <option>绍兴</option>
                                <option>三亚</option>
                                <option>邵阳</option>
                                <option>沈阳</option>
                                <option>十堰</option>
                                <option>松原</option>
                                <option>双鸭山</option>
                                <option>深圳</option>
                                <option>朔州</option>
                                <option>宿州</option>
                                <option>随州</option>
                                <option>苏州</option>
                                <option>石嘴山</option>
                                <option>泰安</option>
                                <option>塔城地区</option>
                                <option>太仓</option>
                                <option>铜川</option>
                                <option>屯昌</option>
                                <option>通化</option>
                                <option>天津</option>
                                <option>铁岭</option>
                                <option>通辽</option>
                                <option>铜陵</option>
                                <option>吐鲁番地区</option>
                                <option>铜仁地区</option>
                                <option>唐山</option>
                                <option>天水</option>
                                <option>太原</option>
                                <option>台州</option>
                                <option>泰州</option>
                                <option>文昌</option>
                                <option>文登</option>
                                <option>潍坊</option>
                                <option>瓦房店</option>
                                <option>威海</option>
                                <option>乌海</option>
                                <option>芜湖</option>
                                <option>武汉</option>
                                <option>吴江</option>
                                <option>乌兰察布</option>
                                <option>乌鲁木齐</option>
                                <option>渭南</option>
                                <option>万宁</option>
                                <option>文山州</option>
                                <option>武威</option>
                                <option>无锡</option>
                                <option>温州</option>
                                <option>吴忠</option>
                                <option>梧州</option>
                                <option>五指山</option>
                                <option>西安</option>
                                <option>兴安盟</option>
                                <option>许昌</option>
                                <option>宣城</option>
                                <option>襄阳</option>
                                <option>孝感</option>
                                <option>迪庆州</option>
                                <option>锡林郭勒盟</option>
                                <option>厦门</option>
                                <option>西宁</option>
                                <option>咸宁</option>
                                <option>湘潭</option>
                                <option>邢台</option>
                                <option>新乡</option>
                                <option>咸阳</option>
                                <option>新余</option>
                                <option>信阳</option>
                                <option>忻州</option>
                                <option>徐州</option>
                                <option>雅安</option>
                                <option>延安</option>
                                <option>延边州</option>
                                <option>宜宾</option>
                                <option>盐城</option>
                                <option>宜昌</option>
                                <option>宜春</option>
                                <option>银川</option>
                                <option>运城</option>
                                <option>伊春</option>
                                <option>云浮</option>
                                <option>阳江</option>
                                <option>营口</option>
                                <option>榆林</option>
                                <option>玉林</option>
                                <option>伊犁哈萨克州</option>
                                <option>阳泉</option>
                                <option>玉树州</option>
                                <option>烟台</option>
                                <option>鹰潭</option>
                                <option>义乌</option>
                                <option>宜兴</option>
                                <option>玉溪</option>
                                <option>益阳</option>
                                <option>岳阳</option>
                                <option>扬州</option>
                                <option>永州</option>
                                <option>淄博</option>
                                <option>自贡</option>
                                <option>珠海</option>
                                <option>湛江</option>
                                <option>镇江</option>
                                <option>诸暨</option>
                                <option>张家港</option>
                                <option>张家界</option>
                                <option>张家口</option>
                                <option>周口</option>
                                <option>驻马店</option>
                                <option>章丘</option>
                                <option>肇庆</option>
                                <option>中山</option>
                                <option>舟山</option>
                                <option>昭通</option>
                                <option>中卫</option>
                                <option>张掖</option>
                                <option>招远</option>
                                <option>资阳</option>
                                <option>遵义</option>
                                <option>枣庄</option>
                                <option>漳州</option>
                                <option>郑州</option>
                                <option>株洲</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="date1">开始日期：</label>
                            <input class="form-control text-primary" id="date1" name="date1" type="date"
                                   value="2013-12-01"/>
                            <label for="date2">截止日期：</label>
                            <input class="form-control text-primary" id="date2" name="date2" type="date"
                                   value="2013-12-31"/>
                        </div>
                        <button type="submit" class="btn btn-primary" id="search">搜索</button>
                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="aqi-tab" data-toggle="tab" href="#aqi" role="tab" aria-controls="aqi"
                       aria-selected="true">AQI</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pm2_5-tab" data-toggle="tab" href="#pm2_5" role="tab" aria-controls="pm2_5"
                       aria-selected="false">PM2.5</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pm10-tab" data-toggle="tab" href="#pm10" role="tab" aria-controls="pm10"
                       aria-selected="false">PM10</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="co-tab" data-toggle="tab" href="#co" role="tab" aria-controls="co"
                       aria-selected="false">CO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="no2-tab" data-toggle="tab" href="#no2" role="tab" aria-controls="no2"
                       aria-selected="false">NO<sub>2</sub></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="so2-tab" data-toggle="tab" href="#so2" role="tab" aria-controls="so2"
                       aria-selected="false">SO<sub>2</sub></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="o3-tab" data-toggle="tab" href="#o3" role="tab" aria-controls="o3"
                       aria-selected="false">O<sub>3</sub></a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="aqi" role="tabpanel" aria-labelledby="aqi-tab">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="main" style="width: 1200px;height: 400px"></div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pm2_5" role="tabpanel" aria-labelledby="pm2_5-tab">这里是pm2.5</div>
                    <div class="tab-pane fade" id="pm10" role="tabpanel" aria-labelledby="pm10-tab">...</div>
                    <div class="tab-pane fade" id="co" role="tabpanel" aria-labelledby="co-tab">...</div>
                    <div class="tab-pane fade" id="no2" role="tabpanel" aria-labelledby="no2-tab">...</div>
                    <div class="tab-pane fade" id="so2" role="tabpanel" aria-labelledby="so2-tab">...</div>
                    <div class="tab-pane fade" id="03" role="tabpanel" aria-labelledby="o3-tab">...</div>
                </div>
                <!-- Content Row -->
            </div>


            <div th:replace="footer"></div>
            <!--<div th:replace="footer"></div>-->

        </div>

        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>

    <script type="text/javascript" th:src="@{/js/popper.js}"></script>

    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-select.js}"></script>
    <script type="text/javascript" th:src="@{/js/i18n/defaults-zh_CN.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script type="text/javascript" th:src="@{/js/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script type="text/javascript" th:src="@{/js/sb-admin-2.js}"></script>


    <!-- Page level plugins -->
    <script type="text/javascript" th:src="@{/js/echart.js}"></script>

    <!-- Page level custom scripts -->
    <script th:src="@{/js/jquery.dataTables.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap4.js}"></script>
    <script th:src="@{/js/aqiCompare.js}"></script>
</div>
</body>

</html>
