<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="基于Elastic Stack的城市大数据分析系统">
    <meta name="author" content="p9j7">

    <title>重点污染物分析</title>

    <!-- Custom fonts for this templates-->
    <link th:href="@{/css/all.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this templates-->
    <link th:href="@{/css/sb-admin-2.css}" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <div th:replace="sidebar::ul"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <div class="container-fluid">
            <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
                <h1 class="h3 mb-0 text-gray-800"><a class="text-info ml-6">重点污染物分析</a></h1>
            </div>
            <div class="row">
                <!--<div class="col-xl-6 col-lg-6">-->
                <!--<div class="card shadow mb-4">-->
                <!--&lt;!&ndash; Card Header - Dropdown &ndash;&gt;-->
                <!--<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">-->
                <!--<h6 class="m-0 font-weight-bold text-primary">京津冀</h6>-->
                <!--</div>-->
                <!--<div class="card-body">-->
                <!--<div id="main1" style="width: 600px;height:400px;"></div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="col-xl-6 col-lg-6">-->
                <!--<div class="card shadow mb-4">-->
                <!--&lt;!&ndash; Card Header - Dropdown &ndash;&gt;-->
                <!--<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">-->
                <!--<h6 class="m-0 font-weight-bold text-primary">长三角</h6>-->
                <!--</div>-->
                <!--<div class="card-body">-->
                <!--<div id="main2" style="width: 600px;height:400px;"></div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <div class="col-xl-12 col-lg-12">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">重点污染物月均指数变化</h6>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div id="main" style="width: 1200px;height:800px;"></div>
                        </div>
                    </div>
                </div>
                <!--<div class="col-xl-12 col-lg-12">-->
                    <!--<div class="card shadow mb-4">-->
                        <!--&lt;!&ndash; Card Header - Dropdown &ndash;&gt;-->
                        <!--<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">-->
                            <!--<h6 class="m-0 font-weight-bold text-primary">全年PM2.5平均指数变化</h6>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; Card Body &ndash;&gt;-->
                        <!--<div class="card-body">-->
                            <!--<div id="main1" style="width: 1200px;height:400px;"></div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-xl-12 col-lg-12">-->
                    <!--<div class="card shadow mb-4">-->
                        <!--&lt;!&ndash; Card Header - Dropdown &ndash;&gt;-->
                        <!--<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">-->
                            <!--<h6 class="m-0 font-weight-bold text-primary">全年PM10平均指数变化</h6>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; Card Body &ndash;&gt;-->
                        <!--<div class="card-body">-->
                            <!--<div id="main2" style="width: 1200px;height:400px;"></div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>

        <div th:replace="footer"></div>
        <!--<div th:replace="footer"></div>-->

    </div>

    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<!-- Bootstrap core JavaScript-->
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script type="text/javascript" th:src="@{/js/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script type="text/javascript" th:src="@{/js/sb-admin-2.js}"></script>


<!-- Page level plugins -->
<script type="text/javascript" th:src="@{/js/Chart.js}"></script>
<script type="text/javascript" th:src="@{/js/echart.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/js/jquery.dataTables.js}"></script>
<script th:src="@{/js/dataTables.bootstrap4.js}"></script>
<script th:src="@{/js/aqiImportant.js}"></script>
<!--<script th:src="@{/js/datatables-demo.js}"></script>-->
</body>

</html>
