<!-- Begin Page Content -->
<div th:fragment="content" class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"><a th:text="${city} + '链家成交数据分析'">链家成交数据分析</a></h1>
    </div>

    <div class="row">
        <div class="col-xl-6 col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <!--这个id 和 href 帮了大忙-->
                    <h6 id="areaHelp" th:href="${areaHelp} + 'Area'" class="m-0 font-weight-bold text-primary">
                        地区统计</h6>
                </div>
                <div class="card-body">
                    <canvas id="myAreaChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">
                        户型统计</h6>
                </div>
                <div class="card-body">
                    <canvas id="myHouseTypeChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <!-- Content Row -->
</div>
