<!-- Begin Page Content -->
<div th:fragment="content" class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
        <h1 class="h3 mb-0 text-gray-800"><a class="text-success ml-6">成交房产数据分析</a></h1>
    </div>

    <div class="row">
        <div class="row">
            <div class="col-lg-12 mb-4">
                <div class="form-inline">
                    <div class="form-group">
                        <label for="cityName">选择城市</label>
                        <select class="form-control text-primary" id="cityName" name="cityName">
                            <option selected="selected">北京</option>
                            <option>上海</option>
                            <option>广州</option>
                            <option>深圳</option>
                            <option>重庆</option>
                            <option>天津</option>
                            <option>杭州</option>
                            <option>南京</option>
                            <option>西安</option>
                            <option>成都</option>
                            <option>石家庄</option>
                            <option>郑州</option>
                            <option>厦门</option>
                            <option>武汉</option>
                            <option>宁波</option>
                            <option>沈阳</option>
                            <option>太原</option>
                            <option>哈尔滨</option>
                            <option>青岛</option>
                            <option>大连</option>
                            <option>长春</option>
                            <option>海口</option>
                            <option>合肥</option>
                            <option>福州</option>
                            <option>南昌</option>
                            <option>济南</option>
                            <option>长沙</option>
                            <option>南宁</option>
                            <option>兰州</option>
                            <option>贵阳</option>
                            <option>昆明</option>
                            <option>银川</option>
                            <option>呼和浩特</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary" id="search">分析</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">
                            成交月份分析</h6>
                    </div>
                    <div class="card-body">
                        <canvas id="myAreaChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">
                            成交价格分析</h6>
                    </div>
                    <div class="card-body">
                        <canvas id="priceRangeChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">
                            成交户型分析</h6>
                    </div>
                    <div class="card-body">
                        <canvas id="myHouseTypeChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">
                            成交面积分析</h6>
                    </div>
                    <div class="card-body">
                        <canvas id="areaRangeChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content Row -->
    </div>
</div>