<!-- Sidebar -->
<ul th:fragment="sidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/show">
        <div class="sidebar-brand-icon rotate-15">
            <i class="fas fa-city"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Elastic Search<sup>6</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/show">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>系统概览</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        房产数据
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-yen-sign"></i>
            <span>成交数据</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header text-center">选择城市</h6>
                <div class="dropdown-divider"></div>
                <a class="collapse-item text-primary text-center font-weight-bold" href="/deal/bj">北京</a>
                <div class="dropdown-divider"></div>
                <a class="collapse-item text-primary text-center font-weight-bold" href="/deal/sh">上海</a>
                <div class="dropdown-divider"></div>
                <a class="collapse-item text-primary text-center font-weight-bold" href="/deal/gz">广州</a>
                <div class="dropdown-divider"></div>
                <a class="collapse-item text-primary text-center font-weight-bold" href="/deal/sz">深圳</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-signal"></i>
            <span>在售数据</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header text-center">选择城市</h6>
                <div class="dropdown-divider"></div>
                <a class="collapse-item text-primary text-center font-weight-bold" href="/sale/bj">北京</a>
                <div class="dropdown-divider"></div>
                <a class="collapse-item text-primary text-center font-weight-bold" href="/sale/sh">上海</a>
                <div class="dropdown-divider"></div>
                <a class="collapse-item text-primary text-center font-weight-bold" href="/sale/gz">广州</a>
                <div class="dropdown-divider"></div>
                <a class="collapse-item text-primary text-center font-weight-bold" href="/sale/sz">深圳</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        空气质量指数
    </div>

    <li class="nav-item">
        <a class="nav-link" href="/aqi/rank">
            <i class="fas fa-level-down-alt"></i>
            <span>分析排名</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/aqi/area">
            <i class="fas fa-map-marked-alt"></i>
            <span>区域分布</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="/aqi/compare">
            <i class="fas fa-greater-than"></i>
            <span>城市比较</span></a>
    </li>

    <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="#">-->
            <!--<i class="fas fa-chart-line"></i>-->
            <!--<span>监测曲线</span></a>-->
    <!--</li>-->

    <div class="sidebar-heading">
        自助分析
    </div>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="/aqi/gdp">
            <i class="fas fa-link"></i>
            <span>经济人口关联</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="/search">
            <i class="fas fa-search"></i>
            <span>数据查询</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->